.alert-bar {
    color: rgba(34, 36, 48, 1);
    font-family: "Roboto Mono", monospace;
    font-size: 12px;
    font-weight: 700;
    font-style: bold;
    letter-spacing: 0.33px;
    text-transform: uppercase;
    background-color: #FFBA00;
}

.top-bar {
    background-color: #fff;
}

.top-bar-left ul.menu li {
    padding: 0 10px;
}

.menu {
    align-items: center;
}

.top-bar-left ul.menu {
    background-color: #fff;
}

.menu-icon {
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  background-image: url('img/Group 3.svg'); /* Add your hamburger icon */
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.get-started-container {
    display: flex;
    /* Flexbox for alignment */
    gap: 10px;
    /* Add space between button and icon */
    width: auto;
}

.get-started {
    display: inline-block;
    width: 201px;
    height: 46px;
    border-radius: 35px;
    font-family: "Roboto Mono", monospace;

    background-color: rgba(34, 36, 48, 1);
    color: white;
    /* Text color */
    text-align: center;
    /* Center text */
    line-height: 46px;
    /* Vertically center text */
    text-decoration: none;
    /* Remove underline */

}

.cart-icon {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 10px;
    /* Space between button and icon */
}

.cart-image {
    margin-top: 5px;
    height: 34px;
    /* Match button height */
    width: auto;
    /* Keep proportion */
}

.cart-counter {
    position: absolute;
    top: -4px;
    right: -9px;
    background-color: rgb(0, 0, 0);
    /* Background color for the counter */
    color: white;
    /* Text color for counter */
    border-radius: 50%;
    /* Make it circular */
    padding: 1px 8.5px;
    /* Padding around the number */
    font-size: 15px;
    /* Font size */
}

.hide-for-medium .cart-icon{
    margin: 10px 0;
}

.hide-for-medium .get-started{
    line-height: 24px;
}

/* Hero Section Styles */
.hero-section {
    min-height: 500px;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(232deg, rgba(70, 78, 112, 1) 0%, rgba(32, 55, 70, 1) 100%);

}

.hero-section .grid-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.hero-section .cell {
    z-index: 2;
    padding: 3rem;
}

.hero-title {
    max-width: 670px;
    color: rgba(255, 250, 246, 1);
    font-family: Inter;
    font-size: 64px;
    font-weight: 900;
    font-style: black;
    letter-spacing: -1.07px;
    line-height: 56px;
    text-transform: uppercase;
}

.hero-subheader {
    width: 412px;
    height: 34px;
    margin: 15px 0;
    color: rgba(255, 255, 255, 1);
    font-family: "Roboto Mono";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.hero-section .button {
    width: 314px;
    height: 56px;
    border-radius: 35px;
    background-color: rgba(255, 186, 0, 1);
    color: #203746
}

.featured-review {
    margin-top: 5rem;
    display: flex;
    gap: 1rem;
}

.review-stars {
    font-size: 1.2rem;
}

.review-stars img{
    margin-bottom: 0;
}

.review-text {
    height: 100%;
    max-width: 400px;
    color: rgba(255, 255, 255, 1);
    font-family: "Roboto Mono";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;

}

.reviewer {
    height: 24px;
    color: rgba(255, 255, 255, 1);
    font-family: "Roboto Mono";
    font-size: 14px;
    font-weight: 700;
    font-style: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.reviewer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.hero-section .cell.medium-4:last-child {
    position: absolute;
    right: 0px;
    top: 0;
    z-index: 1;
    padding: 0;
}

.hero-section .cell.medium-4:last-child img {
    height: 100%;
    position: relative;
    right: 15vw;
    top: 50px;
}

.hero-section .hero-bg-image {
    width: 200%;
    max-width: 600px;
    height: auto;
    object-fit: cover;
    display: block;
    margin-left: auto;
}


@media screen and (max-width: 1400px) {
    .hero-section .cell.medium-4:last-child img{
        right: 5vw;
    }
}

@media screen and (max-width: 1300px) {
    .hero-section .cell.medium-4:last-child img{
        right: 3vw;
    }
}

@media screen and (max-width: 1200px) {
    .hero-section .cell.medium-4:last-child img{
        right: 1vw;
    }
}


@media screen and (max-width: 1000px) {
    .hero-section .cell.medium-4:last-child {
        position: static;
    }

    .hero-section .cell.medium-4:last-child img {
        right: 2vw;
    }

    .hero-section .grid-x {
        flex-direction: column;
    }
}

@media screen and (max-width: 640px) {
    .hero-section .grid-x {
        flex-direction: column;
    }

    .hero-section .hero-bg-image {
        width: 100%;
        max-width: none;
        margin: 0 auto;
        margin-top: 1rem;
    }
}


